h1 {
  font-family: 'Amity Jack', sans-serif;
  padding: 0;
  margin: 0;
}
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.hero-container {
  flex-grow: 1;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.font-container {
  flex-basis: 90%;
  background: radial-gradient(#131313, #101010, #0a0a0a);
  font-size: 1rem;
  text-align: center;
  color: #9d9d9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  flex-basis: 90%;
  background: radial-gradient(#131313, #101010, #0a0a0a);
  font-size: 1rem;
  text-align: center;
  color: #9d9d9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'TrashHand', sans-serif;
}

.navbar {
  font-family: 'Amity Jack', sans-serif;
  background: radial-gradient(#131313, #101010, #0a0a0a);
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
}

.season-header {
  color: #9d9d9d;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.navbar,
.season-link {
  color: #9d9d9d;
  padding: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 16rem;
  overflow-y: auto;
  width: 10rem;
  direction: rtl;
  overflow-x: hidden;
}

.navbar::-webkit-scrollbar {
  width: 5px;
  background-color: #cd2727;
}

.navbar::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
}

.navbar .season-link {
  color: #9d9d9d;
  text-decoration: none;
}

.navbar .season-link:hover {
  text-decoration: none;
  color: #cd2727;
  text-shadow: 0 0 5px #cd2727;
}

h2, h3 {
  font-family: 'TrashHand', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
}