.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../../assets/error-page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.error-link {
  color: #dbd4c0;
  font-family: "Amity Jack", sans-serif;
  font-size: 3rem;
  text-align: left;
  width: 35%;
  margin-right: 42rem;
  text-decoration: none;
  cursor: pointer;
}

.error-link:hover {
  color: red;
  text-shadow: 0 0 10px red;
}

@media (max-width: 1020px) {
  .error-link {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem;
  }

  .error-page {
    background-image: none;
    width: 100%;
  }
}
