body {
  background-image: url("../../assets/ocean.jpg");
}

.episode-card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-height: 28rem;
  margin: 2rem;
}

.episode-name {
  color: #9d9d9d;
  font-size: 4rem;
}

.episode-image {
  width: 40rem;
}

.prep-wrapper {
  margin-top: 2rem;
}

.summary-detail {
  color: #9d9d9d;
  font-size: 1.2rem;
  line-height: 1.5;
}