body {
  font-family: 'TrashHand', sans-serif;
}
.wrapper {
  display: flex;
  align-items: center;
}

.polaroid {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 22rem;
  max-width: 22rem;
  min-width: 22rem;
}

.polaroid.favorite {
  box-shadow: 0 0 10px 5px red;
}

.episode-img {
  display: flex;
  min-width: 20rem;
  max-height: 12rem;
  filter: grayscale(100%);
  padding-top: 0.75rem;
}

.episode-img:hover {
  filter: none;
}

.episode-title,
p {
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
  text-align: center;
  padding: 0.25rem;
  max-height: 3rem;
}

.episode-title:hover {
  color: #cd2727;
  text-shadow: 0 0 5px #cd2727;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fin-button {
  z-index: 1;
  height: 3.5rem;
  margin-top: -.7rem; 
  padding: 0;
  cursor: pointer;
}

.fin-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fin-text,
.favorite-text {
  font-size: 2rem;
  color: #cd2727;
}

@media (max-width: 600px) {
  .episode-title,
  p {
    font-size: 1rem;
  }
  
  .fin-text,
  .favorite-text {
    font-size: 1.5rem;
  }
}